<footer class="footer">
  <div>
    <p>Built with <a href="https://github.com/nielsenramon/chalk" rel="noreferrer noopener" target="_blank" title="Chalk">Chalk</a>. Hosted on <a href="https://github.com/glennabaron/glennabaron.github.io" rel="noreferrer noopener" target="_blank">Github</a>.</p>
    <p>© 2018 baronglenna [at] gmail.com</p>
  </div>
  <ul class="navigation-links">
    {% if site.social.twitter %}
    <li>
      <a href="https://twitter.com/{{ site.social.twitter }}" rel="noreferrer noopener" target="_blank" title="Twitter">
        {% include svg-icon.html icon="twitter" %}
      </a>
    </li>
    {% endif %}
    {% if site.social.github %}
    <li>
      <a href="https://github.com/{{ site.social.github }}" rel="noreferrer noopener" target="_blank" title="GitHub">
        {% include svg-icon.html icon="github" %}
      </a>
    </li>
    {% endif %}
    {% if site.social.instagram %}
    <li>
      <a href="https://instagram.com/{{ site.social.instagram }}" rel="noreferrer noopener" target="_blank" title="Instagram">
        {% include svg-icon.html icon="instagram" %}
      </a>
    </li>
    {% endif %}
    {% if site.social.spotify %}
    <li>
      <a href="https://play.spotify.com/user/{{ site.social.spotify }}" rel="noreferrer noopener" target="_blank" title="Spotify">
        {% include svg-icon.html icon="spotify" %}
      </a>
    </li>
    {% endif %}
    {% if site.rss_enabled == true %}
    <li>
      <a href="{{ 'feed.xml' | relative_url }}" rel="noreferrer noopener" target="_blank" title="RSS">
        {% include svg-icon.html icon="rss" %}
      </a>
    </li>
    {% endif %}
  </ul>
</footer>
