---
layout: layouts/home.njk
numberOfLatestPostsToShow: 3
---

<h1>Hi, I'm Glenna.</h1>

<p>Welcome to my little corner of the internet.</p>

<p>I'm currently loving my role as a Technical Project Manager. It makes perfect use of my experience leading teams, building websites, and utilizes my creative background to help teams get things done.</p>

<p>Previously, I had the opportunity to <b>lead engineering teams</b> in varying industries (deregulated energy, telecommunications, government contracts), each with their own specialized areas of knowledge, unique technical requirements, and product goals. Earlier in my career, I worked at agencies building <b>award winning digital experiences</b> for local and national clients. Prior to that, you could find me tinkering with front end code and sharpening my graphic design skills.</p>

{#
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %}
 #}


{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
