.content {
  padding: 50px 0;

  h1 {
    padding-bottom: 15px;
  }

  p {
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 2;
  }
}

.list-date {
  font-size: 12px;
  font-weight: 500;
}

ol {
  list-style-type: numeric;

  li {
    padding-left: 10px;
  }
}
