// Font colors
$base-font-color: $color-gray-dark;
$base-accent-color: $color-gray-dark;
$base-accent-highlighted-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $color-gray-lightest;

// Page specific colors
$body-background: $color-white;
$navigation-logo-color: $color-black;
$header-link-color: $color-gray-darker;
$header-link-color-hover: $color-gray-darkest;
$article-header-title-color: $color-gray-darkest;
$article-header-description-color: $color-gray-dark;
$article-post-titles-color: $color-gray-darkest;
$article-footer-color: $color-gray-light;
$article-footer-link-color: $color-gray-dark;
$article-footer-link-color-hover: $color-gray-darkest;
$article-paginator-color-hover: $color-gray-darkest;
