<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main>
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include navigation.html %}

        <article class="article">
          <header class="article-header">
            <p class="article-date">{{ page.date | date: "%B %-d, %Y" }}</p>
            <h1>{{ page.title }}</h1>
          </header>

          <div class="article-content">
            {{ content }}
          </div>

          <div class="article-list-tags">
            {% for tag in page.tags %}
              <a href="{{ 'tag/' | relative_url }}{{ tag }}">#{{ tag }}</a>
            {% endfor %}
          </div>

          {% if site.discus_identifier %}
          <div id="disqus_thread" class="article-comments"></div>
          <script src="https://{{ site.discus_identifier }}.disqus.com/embed.js" async defer></script>
          <noscript>Please enable JavaScript to view the comments.</noscript>
          {% endif %}
        </article>
        {% include footer.html %}
      </div>
    </div>
  </main>
</body>
</html>
