.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 35px;
  margin-bottom: 85px;
  border-top: 1px solid $base-border-color;

  p {
    font-size: 12px;
    color: $gray-light;
    letter-spacing: 1px;
  }

  a {
    text-decoration: none;
  }

  .navigation-links {
    flex: 1;
    display: flex;
    margin-top: 20px;

    @include bp(sm) {
      flex: auto;
      margin-top: 0;
      margin-left: auto;
      justify-content: flex-end;
    }

    li {
      margin-left: 10px;
    }
  }
}
